

.active{
    box-shadow: var(--box-shadow);
}

.user_box_social_item:hover{
    box-shadow: var(--box-shadow);
}


.user_box_or::before{
    content: "";
    width: 45%;
    border: 1px solid var(--shadow-dark-color);
    left: 0;
    top: .8rem;
    position: absolute;
}
.user_box_or::after{
    content: "";
    width: 45%;
    border: 1px solid var(--shadow-dark-color);
    right: 0;
    top: .8rem;
    position: absolute;
}




@media screen and (max-width: 35em) {
    .user_box_social_item{
        font-size: 1rem;
    }
}